<div class="container">
  <h1 class="viewTitle">Kontakt meg gjerne!</h1>
  <div id="contactWrapper">
    <p><a href="tel:+4795186755" target="_self"><i class="fa fa-phone-square fa-2x"></i> 951 86 755</a></p>
    <p><a href="mailto:nicklas.svendsrud@gmail.com" target="_self"><i class="fa fa-envelope-square fa-2x"></i> nicklas.svendsrud@gmail.com</a></p>
    <p><a href="http://no.linkedin.com/in/nicklassvendsrud" target="_self"><i class="fa fa-linkedin-square fa-2x"></i> LinkedIn</a></p>
    <p><a href="https://twitter.com/nicklasvendsrud" target="_self"><i class="fa fa-twitter-square fa-2x"></i> Twitter</a></p>
  </div>
</div>
